<script>
  $(document).ready(function(){
    // the "href" attribute of .modal-trigger must specify the modal ID that wants to be triggered
    $('.modal-trigger').leanModal();
    $('.modal-close').off();
  });
</script>
<body >

  <h3>Blog</h3>

  <div ng-repeat="x in records">
    <div class="container">
      <div class="row">
        <div class="col s8 push-s3">
          <div class="card">
            <div  class="cd">
              <h3 class="header">{{x.title}}</h3>
              <p>{{x.review}}</p>

              <img class="parallel" src="{{x.imageurl}} ">
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <button class="waves-effect waves-light btn modal-trigger" data-target="modal1">addpost</button>
  <div id="modal1" class="modal">
    <div class="modal-content">

      <form>
        <input type="text" placeholder="Title" ng-model="record.title">
        <input type="text" placeholder="Review" ng-model="record.review">

        <button type="submit" class="waves-effect waves-light btn modal-trigger" ng-click="addPost()">addpost</button>
       <button><a href="#!" class="waves-effect waves-light btn modal-close" ng-click="closeModal()">Close</a></button> 
           </form>

    </div>
  </div>

</body>