<script>
 $(document).ready(function() {
        $('select').material_select();
      });
      </script>
<div class="container">
<form name="reviewform" ng-controller="forumController as reviewctrl" >
    <blockquote>
        <b>Stars:{{reviewctrl.review.stars}}</b></br>
        <b>review:{{reviewctrl.review.body}}</b></br>
        <b>by:{{reviewctrl.review.author}}</b>
    </blockquote>
    <div class="input-field col s12">
        <h3>place to discuss</h3>
    <select ng-model="reviewctrl.review.stars">
            <option value=" " disabled selected>Choose your option</option>
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
    </select>
    </div>
    
        <textarea ng-model="reviewctrl.review.body"></textarea>
          <label>by:</label>                        
        <input ng-model="reviewctrl.review.author" type="email"/>
<input type="submit" value="submit" ng-submit="reviewctrl.addReview(product)" />
</form>
</div>
